<!DOCTYPE html>
<html lang="en">
    <head>
      {{>head}}
      <script src="./js/index.js" defer></script>
    </head>
    <body>
        {{>header}}
        <section id="index">
            <h2 class="d-flex justify-content-center">${msg}</h2>
        </section>
    </body>
</html>